* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  background-color: #a750d2;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main > div {
  text-align: center;
}
