* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

section#hero {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#hero > header {
  /* background-color: red; */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

section#hero > header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  list-style: none;
}

section#hero > div {
  /* background-color: blue; */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section#hero > div > div.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

section#hero > div > div.left > h2 {
  font-size: 50px;
}

section#hero > div > div.left > p {
  font-size: 16px;
  color: #6c757d;
}

section#hero > div > div.left > button {
  all: unset;
  padding: 10px 20px;
  background-color: #8eadd5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

section#brands {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#brands > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

section#brands > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 24px;
}

section#design-system {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#design-system > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

section#design-system > div > div.left > img {
  width: 400px;
}

section#design-system > div > div.right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

section#design-system > div > div.right > h2 {
  font-size: 40px;
}

section#design-system > div > div.right > p {
  font-size: 16px;
  color: #6c757d;
}

section#plugin-development {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#plugin-development > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

section#plugin-development > div > div.right > img {
  width: 400px;
}

section#plugin-development > div > div.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

section#plugin-development > div > div.left > h2 {
  font-size: 40px;
}

section#plugin-development > div > div.left > p {
  font-size: 16px;
  color: #6c757d;
}

section#testimonials {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#testimonials > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

section#testimonials > div > h2 {
  font-size: 28px;
}

section#testimonials > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

section#testimonials > div > div > div {
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

section#testimonials > div > div > div > p {
  text-align: center;
}
section#testimonials > div > div > div > p.name {
  font-weight: bold;
}

section#call-to-action {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

section#call-to-action > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  background-color: #ebebeb;
  padding: 24px;
  border-radius: 16px;
}

section#call-to-action > div > div.left > img {
  width: 400px;
}

section#call-to-action > div > div.right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

section#call-to-action > div > div.right > h2 {
  font-size: 40px;
}

section#call-to-action > div > div.right > p {
  font-size: 16px;
  color: #6c757d;
}

section#call-to-action > div > div.right > button {
  all: unset;
  padding: 10px 20px;
  background-color: #8eadd5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer > div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
}

footer > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 100px;
}

footer > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

footer > div > div > div > p.title {
  font-weight: bold;
  color: black;
}

footer > div > div > div > p {
  color: #6c757d;
}
