* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#gamefield {
  width: 800px;
  height: 800px;
  background-color: black;
  position: relative;
}

#pacman {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.1s ease-in-out;
}

#ghost-red {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

#ghost-pink {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#ghost-brown {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#controller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
#controller button {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
